# This file contains all python dependencies needed by Noteserver.
# This file is parsed by setup.py to identify dependencies.
# Make sure to specify both the package name and version number.

# Used to launch the main function and provide simpler command line arguments.
fire==0.4.0
